<div class="panel">
    {{#unless album.name}}
        <div class="title">All | {{album.photos.length}} photos</div>
    {{else}}
        <div class="title">{{album.name}} | {{album.photos.length}} photos</div>
        <div class="toolbar">
            <button class="btn"><i class="icon-cancel"></i> Clean collection</button>
        </div>
    {{/unless}}

</div>