<h4 class="title">
    <span class="name">{{if album.name album.name 'All'}}</span>
    <span class="sub-detail"> / {{pluralize album.photos.length 'photo' 'photos'}} in total</span>
</h4>
{{#if album.name}}
	 <div class="btn-group">
	    <button {{action 'remove' album}} class="btn"><i class="icon-cancel2"></i> Remove</button>
	    {{#if album.photos.length}}<button {{action 'clean' album}} class="btn"><i class="icon-trashcan"></i> Clean</button>{{/if}}
	 </div>
 {{/if}}
