@font-face {
  font-family: 'collected';
  src:url('/assets/fonts/collected.eot?gtdjdd');
  src:url('/assets/fonts/collected.eot?#iefixgtdjdd') format('embedded-opentype'),
  url('/assets/fonts/collected.woff?gtdjdd') format('woff'),
  url('/assets/fonts/collected.ttf?gtdjdd') format('truetype'),
  url('/assets/fonts/collected.svg?gtdjdd#collected') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: 'collected';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quote:before {
  content: "\e600";
}
.icon-quote2:before {
  content: "\e601";
}
.icon-link:before {
  content: "\e602";
}
.icon-calendar:before {
  content: "\e603";
}
.icon-calendar2:before {
  content: "\e604";
}
.icon-calendar3:before {
  content: "\e605";
}
.icon-file:before {
  content: "\e606";
}
.icon-file2:before {
  content: "\e607";
}
.icon-file3:before {
  content: "\e608";
}
.icon-files:before {
  content: "\e609";
}
.icon-inbox:before {
  content: "\e60a";
}
.icon-download:before {
  content: "\e60b";
}
.icon-upload:before {
  content: "\e60c";
}
.icon-inbox2:before {
  content: "\e60d";
}
.icon-checkmark:before {
  content: "\e60e";
}
.icon-checkmark2:before {
  content: "\e60f";
}
.icon-cancel:before {
  content: "\e610";
}
.icon-cancel2:before {
  content: "\e611";
}
.icon-plus:before {
  content: "\e612";
}
.icon-plus2:before {
  content: "\e613";
}
.icon-minus:before {
  content: "\e614";
}
.icon-minus2:before {
  content: "\e615";
}
.icon-notice:before {
  content: "\e616";
}
.icon-notice2:before {
  content: "\e617";
}
.icon-cog:before {
  content: "\e618";
}
.icon-cogs:before {
  content: "\e619";
}
.icon-cog2:before {
  content: "\e61a";
}
.icon-warning:before {
  content: "\e61b";
}
.icon-picture:before {
  content: "\e61c";
}
.icon-pictures:before {
  content: "\e61d";
}
.icon-pictures2:before {
  content: "\e61e";
}
.icon-checkmark3:before {
  content: "\e61f";
}
.icon-cancel3:before {
  content: "\e620";
}
.icon-folder:before {
  content: "\e621";
}
.icon-image:before {
  content: "\e622";
}
.icon-trashcan:before {
  content: "\e623";
}
.icon-smiley:before {
  content: "\e624";
}
.icon-sad:before {
  content: "\e625";
}
.icon-mute:before {
  content: "\e626";
}
.icon-magnifier:before {
  content: "\e627";
}
.icon-zoomin:before {
  content: "\e628";
}
.icon-zoomout:before {
  content: "\e629";
}
.icon-stack:before {
  content: "\e62a";
}
.icon-stack2:before {
  content: "\e62b";
}
.icon-stack3:before {
  content: "\e62c";
}
.icon-lamp:before {
  content: "\e62d";
}
.icon-lamp2:before {
  content: "\e62e";
}
.icon-lamp3:before {
  content: "\e62f";
}
.icon-grid:before {
  content: "\e630";
}
.icon-grid2:before {
  content: "\e631";
}
.icon-list:before {
  content: "\e632";
}
.icon-list2:before {
  content: "\e633";
}
.icon-layout:before {
  content: "\e634";
}
.icon-layout2:before {
  content: "\e635";
}
.icon-layout3:before {
  content: "\e636";
}
.icon-layout4:before {
  content: "\e637";
}
.icon-layout5:before {
  content: "\e638";
}
.icon-layout6:before {
  content: "\e639";
}
.icon-layout7:before {
  content: "\e63a";
}
.icon-layout8:before {
  content: "\e63b";
}
.icon-layout9:before {
  content: "\e63c";
}
.icon-layout10:before {
  content: "\e63d";
}
.icon-layout11:before {
  content: "\e63e";
}
.icon-layout12:before {
  content: "\e63f";
}
.icon-layout13:before {
  content: "\e640";
}
.icon-layout14:before {
  content: "\e641";
}
.icon-reply:before {
  content: "\e642";
}
.icon-forward:before {
  content: "\e643";
}
.icon-info:before {
  content: "\e644";
}
.icon-pictures3:before {
  content: "\e645";
}
