clearfix() {
  zoom: 1;
  &:after, &:before {
    content: '';
    display:table;
  }
  &:after { clear: both; }
}

calc(property, expr) {
  {property}: s("-webkit-calc(%s)", expr);
  {property}: s("-moz-calc(%s)", expr);
  {property}: s("calc(%s)", expr);
}

trans(property, duration) {
    -webkit-transition: property duration ease-in-out;
    -moz-transition: property duration ease-in-out;
    transition: property duration ease-in-out;
}

truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

responsive-visibility() {
  display: block !important;
  table&  { display: table !important; }
  tr&     { display: table-row !important; }
  th&,
  td&     { display: table-cell !important; }
}

responsive-invisibility() {
  display: none !important;
}

transl(x, y) {
  -webkit-transform: translate(x, y);
  -moz-transform: translate(x, y);
  transform: translate(x, y);
}

translY(y) {
 -webkit-transform: translateY(y);
  -moz-transform: translateY(y);
  transform: translateY(y); 
}