<section class="sidebar">
    <div class="header u-txtc">
        {{#link-to "index.home" class="lead"}}<i class="icon-image"></i>{{/link-to}}
    </div>
    {{outlet 'sidebar'}}
    <div class="actions">
        <button class="btn"><i class="icon-plus"></i> New collection</button>
    </div>
</section>
<section class="container">
    <div class="wrapper-main">
        <header class="header">
            <h1 class="u-txtc">
                <img alt="Collected" src="/assets/img/brand.svg" />
            </h1>
            {{x-summary album=controller.currentAlbum}}
        </header>
        <div class="content u-scrollable">{{outlet 'main'}}</div>
    </div>
</section>