<section class="sidebar">
    <div class="header u-txtc">
        {{#link-to "index.home" class="lead"}}<i class="icon-image"></i>{{/link-to}}

    </div>
    {{outlet 'sidebar'}}
</section>
<section class="container">
    <div class="wrapper-main">
        <header class="header">
            <h1 class="u-txtc">
                <img alt="Collected" src="/assets/img/brand.svg" />
            </h1>
        </header>
        <div class="content u-scrollable">{{outlet 'main'}}</div>
    </div>
</section>