<i class="icon-pictures2"></i>
<h6>
    No photos in <strong>{{controller.currentAlbum.name}}</strong> yet?<br/>
    Just follow this {{#link-to 'index.collections'}}link{{/link-to}} to add some.
</h6>